
   
    html{
        background-image: url(Images/fonfo\ bien.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
       
    }

    .logo{
        margin-right: 30px;
        margin-top: 15px;
        padding: 15px;
    }
    
    .logo img{
        border-radius: 50%;
        width: 150px;
    }